@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282828;
  background-color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

* {
  box-sizing: border-box;
}

button {
  height: 35px;
  background-color: #3d8bcd;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: #3a80ba;
  }
}
